#contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: orangered;
    padding-top: 10px;
}
h1{
    color: brown;
}
.card{
    border: 2px solid black;
    padding: 10px;
    margin: 5px;
}

.contenedor_datos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: aquamarine;
    border-radius: 10px;
}
img{
    border-radius: 10px;
}
.card:hover{
    background-color: rgb(9, 131, 159);
}